.fast-growth-wrapper {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-div {
  border-radius: 12px;
  margin-bottom: 200px;
  margin-top: 200px;
  width: 80%;
  height: 300px;
  background-color: #ffffff;
}

.fast-growth-button {
  position: relative;
  bottom: -87px;
  left: 42%;
  border: none;
  border-radius: 12px;
  color: #fff;
  background-color: #ed2204;
  height: 60px;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.fast-growth-button:hover {
  background-color: #f76953;
}

.fast-growth-text {
  margin: auto;
  padding-top: 110px;
  text-align: center;
  font-size: 30px;
  max-width: 50%;
}
