.navbar {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  color: #fff;
  padding: 30px 300px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar .social-media-item:hover {
  background-color: #c2c2c2;
}

.navbar .nav-item:hover {
  color: #c2c2c2;
}

.left-section {
  display: flex;
  gap: 20px;
}

.right-section {
  display: flex;
}

.right-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  margin-left: 5px;
}

.right-section a i {
  font-size: 18px;
}
