.price-div-item {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.price-div-main {
  text-align: center;
  padding: 150px;
  background-color: #f5f1f0;
}

.price-header {
  margin-bottom: 20px;
}
.price-discription {
  margin-bottom: 100px;
}
